.block-exception {
  overflow: hidden;
  display: flex;
  max-width: 56rem;
  margin: 0 auto;
  padding: 0.75rem 1rem 1rem;
  border-left-color: #FACC15;
  border-left-width: 0.25rem;
  border-radius: 0.2rem;
  background-color: #FEFCE8;

  &__icon {
    width: 1.75rem;
  }

  &__content {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__title {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #854D0E;
  }

  &__message {
    margin: 0;
    font-size: 0.875rem;
    color: #854D0E;
  }
}
