:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'SourceSans3', serif;
  --container-full: 100dvw;
  --container-xxl: #{breakpoint(xxl)};
  --container-xl: #{breakpoint(xl)};
  --container-lg: #{breakpoint(lg)};
  --container-md: #{breakpoint(md)};
  --container-sm: #{breakpoint(sm)};
  --radius-full: 10rem;
  --radius-xxl: 1.5rem;
  --radius-xl: 1rem;
  --radius-lg: 0.75rem;
  --radius-md: 0.5rem;
  --radius-sm: 0.25rem;
  --color-gray-50: #F6F6F6;
  --color-gray-100: #E7E7E7;
  --color-gray-200: #D1D1D1;
  --color-gray-300: #B0B0B0;
  --color-gray-400: #888;
  --color-gray-500: #6D6D6D;
  --color-gray-600: #5D5D5D;
  --color-gray-700: #4F4F4F;
  --color-gray-800: #454545;
  --color-gray-900: #3D3D3D;
  --color-gray-950: #000;
}
