:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'SourceSans3', serif;
  --container-sm: #{breakpoint(sm)};
  --container-md: #{breakpoint(md)};
  --container-lg: #{breakpoint(lg)};
  --container-xl: #{breakpoint(xl)};
  --container-xxl: #{breakpoint(xxl)};
  --container-full: 100dvw;
}
